<% layout('/layouts/boilerplate') -%>
<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= showListing.title %></h3>
  </div>

  <div class="card col-6 offset-3 show-card listing-card">
    <img
      src="<%= showListing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        Owned by <b> #<i><%= showListing.owner.username %></i></b>
      </p>
      <p class="card-text"><%= showListing.description %></p>
      <p class="card-text">
        &#8377; <%= showListing.price ?
        showListing.price.toLocaleString("en-IN") : "N/A" %>
      </p>
      <p class="card-text"><%= showListing.country %></p>
      <p class="card-text"><%= showListing.location %></p>
    </div>
  </div>

  <% if(currUser && currUser._id.equals(showListing.owner._id)){ %>
  <div class="btns">
    <a
      href="/listings/<%= showListing._id%>/edit"
      class="btn btn-dark edit-btn col-1 offset-3"
      >Edit</a
    >

    <form method="POST" action="/listings/<%= showListing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-4">Delete</button>
    </form>
  </div>
  <% } %>

  <div class="col-8 offset-3 mt-5 mb-3">
    <% if(currUser){ %>
    <h4>Leave a Review</h4>
    <form
      method="POST"
      action="/listings/<%= showListing._id%>/reviews"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>

      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>

      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr />
    <% } %>

    <p><b>All Reviews</b></p>
    <div class="row">
      <% for(review of showListing.reviews){ %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> stars</p>
        </div>

        <form
          method="post"
          action="/listings/<%= showListing._id%>/reviews/<%=review._id %>?_method=DELETE"
          class="mb-3"
        >
          <button class="btn btn-dark btn-sm">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</div>
